.ui-fieldset {
    display: inline-block !important;
    width: 100%;
}

ui-panelgrid-cell ui-widget-header {
    padding-top: 10px !important;
}

.ui-panelgrid, .ui-panelgrid input, .ui-panelgrid textarea {
    width: 100% !important;
    margin-left: -3px !important;
}

.ui-panelgrid button {
    //margin-left: -3px !important;
}

.btn-select .ui-button .ui-button-text {
    padding: 6px 16px;
    font-size: 0.7rem;
}

.ui-panelgrid textarea {
    height: 100%;
}

.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-panelgrid .ui-panelgrid-cell {
    padding-right: 0;
    padding-left: 5px;
}
