.ui-fieldset {
    display: inline-block;
    width: 100%;
}

ui-panelgrid-cell ui-widget-header {
    padding-top: 10px !important;
}

.ui-panelgrid, .ui-panelgrid input, .ui-panelgrid textarea {
    width: 100% !important;
    margin-left: -3px !important;
}

.ui-panelgrid button {
    //margin-left: -3px !important;
}

.ui-slider-horizontal .ui-slider-handle {
    height: 18px !important;
    width: 20px !important;
}

.ui-slider-horizontal {
    height: 14px !important;
    width: 99%;
}

.btn-select .ui-button .ui-button-text {
    padding: 6px 16px;
    font-size: 0.7rem;
}

.ui-panelgrid textarea {
    height: 100%;
}

.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-panelgrid .ui-panelgrid-cell {
    padding-right: 0;
    /* padding-left: 5px; */
}

.alt-senha-link {
    color: #1784C7 !important;
    font-weight: bold;
}

.alt-senha-link:hover {
    text-decoration: underline;
}

.ui-selectonemenu-label {
    margin-top: 4px;
}
