.ui-state-default {
    background: white !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ui-panelgrid-header {
    background: white !important;
}

.ui-button {
    background: #d2d2d2 !important;
    color: #1d1d1d !important;
    text-shadow: none;
}

.ui-button:hover{
    color: #fff !important;
}

.ui-inputfield {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.ui-inputfield:focus {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(62,133,194,0.5) !important;
    -moz-box-shadow: 0px 0px 10px 0px rgba(62,133,194,0.5) !important;
    box-shadow: 0px 0px 10px 0px rgba(62,133,194,0.5) !important;
}